# Fill with the Pyrogram session string
SESSION_NAME= Your Session

# Your music bot username
BOT_USERNAME=@Brutal_420_Music_Robot

# Your Bot Token
BOT_TOKEN= 5353151985:AAFGXmIn1mofcbUcwkmq-3CL0NUJQm2ZUxE

# Your music bot name
BOT_NAME=Brutal Music

# Your API ID from my.telegram.org
API_ID= 

# Your API HASH from my.telegram.org
API_HASH= 

# List of user IDs separated by space (you can fill this with your id too)
SUDO_USERS=2035495883 1329298095

# in minutes (default:40)
DURATION_LIMIT=240 

# if you have channel, fill the channel username here without @
UPDATES_CHANNEL=about_brutu

# # if you have group, fill the group username here without @
GROUP_SUPPORT=+n2-80z-K51dmNDY1

# fill with the assistant username without @
ASSISTANT_NAME=itsbrutu_player

# fill with username of your telegram account
OWNER_NAME=@b_4_brutu_rajput

# fill with nickname/name of your telegram account
ALIVE_NAME=⁶4̴вιт乛乃𝗥𝗨𝗧𝗔𝗟
